/* Reset básico */

#barra-de-busca{
    visibility: hidden;
}
.barra-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02F2BD;
    height: 50px;
    width: 100%;
    
}
.container-icones{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.notaficacoes{
    margin: 0 20px
}
.mostra-icones{
    margin-left: 20px;
}

#container-side-bar{
    display: flex;
    flex-direction: column-reverse;
    width: 215px;
}
#side-bar-expandida{
    background-color: #F0F1F1;
    visibility: hidden;
    margin-left: 20px;
}
.lista-interna{
    margin-left: 20px;
}
.container-tela {
    display: flex;
}

#side-bar-recolhida{
    display: flex;
    justify-content: space-evenly;
    background-color: #02F2BD;
    width: 68px;
    height: 92.9vh;

}

#side-bar-recolhida li{
    margin-top: 25px;
}