/* Reset básico */

/* Estilo do link e do ícone */
ul li a {
    position: relative;
    display: inline-block;
  }
  
  /* Esconde o texto da tooltip por padrão */
  .tooltip .tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: #02F2BD;
    color: #000000;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 30%; 
    left: 125%;
    transform: translateX(-15%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 16px;
    white-space: nowrap;
  }
  
  /* Exibe a tooltip ao passar o mouse */
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

#barra-de-busca{
    visibility: hidden;
}
.barra-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02F2BD;
    height: 50px;
    width: 100%;
    
}
.container-icones{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.notaficacoes{
    margin: 0 20px
}
.mostra-icones{
    margin-left: 20px;
}

#container-side-bar{
    display: flex;
    flex-direction: column-reverse;
    width: 215px;
}
#side-bar-expandida{
    background-color: #F0F1F1;
    visibility: hidden;
    margin-left: 20px;
}
.lista-interna{
    margin-left: 20px;
}
.container-tela {
    display: flex;
}

#side-bar-recolhida{
    display: flex;
    justify-content: space-evenly;
    background-color: #02F2BD;
    width: 68px;
    height: 92.9vh;

}

#side-bar-recolhida li{
    margin-top: 25px;
}

