/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
#barra-de-busca{
    visibility: hidden;
}
.barra-superior{
    display: flex;
    justify-content: space-between;
}
.container-icones{
    display: flex;
    flex-direction: row;
}